body{
    margin: 0;
}

#top-container{
        background: linear-gradient(to bottom,
                #FFDD78 0%,
                #FFDD78 70%,
                #ffffff 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

#top-box-text-div > h1{
    font-size: 350%;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top-box-text-div > h2{
    font-size: 250%;
}

#pizza{
    width: 250px;
    height: 250px;
    border-radius: 50%;    
    display: block;
    margin: 20px auto;
    padding: 50px;
    
}